{% extends 'base.html.twig' %}



{% block body %}

    <a href="{{ path('app_produit_new') }}">Nouveau</a>

<h1>Rubriques</h1>

{% for rub in rubrique %}
    <div>
        <a href="{{ path('sousRubrique', {'id' : rub.id}) }}">
            {{ rub.nom }}
        </a>
    </div>
{% endfor %}

{% endblock %}