{% extends 'base.html.twig' %}

{% block title %}Nouveau{% endblock %}

{% block produit %}
    <h1>Nouveau</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('rubrique') }}">Retour</a>
    

{% endblock %}
